
body {
    background-color: #fad7df;
}

main {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-letter {
    position: relative;
}

.cover {
    position: absolute;
    border-left: 200px solid  transparent;
    border-right: 200px solid transparent;
    border-top: 100px solid #fe3334;
    border-bottom: 100px solid transparent;

    transition: transform 1s;
    transform-origin: top;
}

.paper {



    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    position: absolute;
    line-height: 2rem;
    padding-top: 10%;
    text-align: center;
    /* */
    z-index: -1; 
    background: white;
    width: 400px;
    height: 150px;

    transition: all .75s;
}

.options-paper {
    display: flex;
    gap: 2rem;
    justify-content: center;

    padding: 7%;
    font-weight: 600;
    
    button {
        color:#fe3234;
        border: 1px solid #fe3234;
        border-radius: 4px;
        background-color: white;
        padding:  0.5rem 1rem;
        cursor: pointer;
        
    }

    button:hover {
        background-color: red;

    }
}

.letter {
    border-left: 200px solid  #ff989e;
    border-right: 200px solid #ff989e;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff858a;

}

.options {
    display: flex;
    gap: 5rem;

    button {
        color: #fe3234;
        font-weight: 600;
        border-radius: 6px;
        background-color: #fad7df;
        padding: 0.5rem 1rem;
        border: 1px solid #fe3334;
        cursor: pointer;
    }

    button:hover {
        background-color: #ff989e;
        color: white;
    }
}

.open-cover {
    transform: rotatex(180deg);
}

.open-paper {
    
    animation: movePaper 1s forwards;
}

.close-paper {
    
    animation: movePaperDown 1s forwards;
}


@keyframes movePaper {
    0%{
        top: 0;
    }

    100% {
        top: -100px;
    }
}

@keyframes movePaperDown {
    0%{
        top: -100px;
    }

    100% {
        top: 0;
    }
}